# Database/postgres vars
DATABASE_URL=postgres://root:password@localhost:5432/spotifytracker
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=spotifytracker

# API Vars
API_PORT=3000

# Front end vars
WEB_PORT=5173
